
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
                    <h1>Welcome to the About Page</h1>

                    <h2>About Me</h2>
                    <p>
                      	My name is Akshaya Vijayakumar. I am from India. I'm an International student at Sececa college studying Business Information Technology Program. 
                      	I am in my second semester now. 
					  	I am from Munnar a beautiful hill station and famous tourist destination in Kerala which is in the southern part of
					  	India. I have my bachelors in Computer Science Engineering and graduated in the year 2019.
						Soon after which I landed a job as Software Engineer as .Net developer in an MNC called L&T Infotech. 
						Simultaneously I took responsibility for my family business as I was working from home during the global pandemic 
						shutdown. 
					    </p>
                    <!-- End your code here -->



				</main>
			</div>
		