
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h2>Welcome to my website</h2>
					<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including:</p>
					<ul>
					<li>Static Views
						<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/htmlDemo">HTML Demo</a></li>
						</ul>
					</li>
					<li>Routes
						<ul>
						<li><a href="/students">All Students</a></li>
						<li><a href="/students/add">Add Student</a></li>
						<li><a href="/courses/add">Add course</a></li>
						<li><a href="/courses">All Courses</a></li>
						<li><a href="/404">404 Page</a></li>
						</ul>
					</li>
					</ul>

					<h3>Introduction to HTML 5</h3>
					<p>
						The World Wide Web's approach to content organisation and presentation has been completely transformed by HTML5, 
						a potent markup language. It offers improved functionality, more features, and greater cross-platform and device compatibility.
						Websites can now include multimedia components like audio and video without the use of external plugins thanks to HTML5.
						Additionally, it adds new structural components like the header, footer, navigation, and article that allow for a better and
						more semantic organisation of the code. Web forms now offer a more user-friendly and engaging experience thanks to HTML5's 
						improved form validation and input types. Additionally, it allows geolocation and offline browsing, enabling websites to
						function properly even when users are not connected to the internet. In conclusion, HTML5 is a flexible and contemporary markup
						language that enables developers to generate dynamic and interactive web content.
					</p>
					<!-- End your code here  -->


				</main>
			</div>